---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Востаннє оновлено {{ page.last_modified_at | date: "%-d/%m/%Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}

      <p style="font-size: 8;" "colour: #bfbfbf;"> Будь-яке посилання на "ми", "нас" чи "Агенцію" стосується ФОП Шпот Анна Володимирівна.</p>
    </content>

  </div>
</article>
